@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Bellefair";
    src: url("../public/fonts/Bellefair/Bellefair-Regular.ttf");
  }
  @font-face {
    font-family: "Barlow Condensed Bold";
    src: url("../public/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf");
  }
  @font-face {
    font-family: "Barlow Condensed";
    src: url("../public/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf");
  }
  @font-face {
    font-family: "Barlow";
    src: url("../public/fonts/Barlow/Barlow-Regular.ttf");
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  box-sizing: border-box;
}

h6 {
  font-family: "Barllow Condensed", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
